.android-container{
    margin:20px;
    padding:20px;
    text-align: center;
    border:1px solid rgb(226, 223, 223);
    border-radius: 5px;
    width:300px;
    height:350px;
}
.android-info{
    margin-top: 15px;
   
}